/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
#width {
    width: 20%;
    display: inline;
}
#main {
    width: 60%;
    float: right;
    display: inline;
}
img {
    border: 10px solid green;
}
h1 {
    border: 5px dotted red;
    background-color: rgb(31, 31, 36);
    color: white;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    background-image: url(http://placekitten.com/200/300);
    color: #ffffff;
}
cite {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: white;
}
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
a {
    text-decoration: none;
}
ul a:link {
    color: green;
    font-weight: bold;
}
a:visited {
    color: rgb(201, 23, 121);
    font-weight: lighter;
}
ul a:hover {
    font-size: 1.3rem;
    background-color: black;
}
h2, h3 {
    border: 3px dashed #ff1100;
}
#myid {
    color: blueviolet;
    font-style: italic;
}

  nav{
    border: 0px solid red;
  }
  nav ul {
    list-style-type: none;
    border: 0px solid blue;
    padding: 0;
    margin: 0;
  }
  nav li {
    border: 1px dotted white;
    width: 10rem;
    background-color: red;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  nav a{
    border: 1px solid blue;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  nav a:hover {
    background-color: white;
    color: red;
  }