body {
    color: rgb(34,34,34);
    /* display: block; */
    font-family: arial, sans-serif;
    font-size: 13px;
}

header{
    height: 50px;
    padding-right: 15px;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px 15px;
    list-style: none;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

header ul li a:hover {
    text-decoration: underline;
}

header ul li .fas fa-th {
    height: 100%;
    padding-right: 15px;
}

header ul li .btn {
    background-color: blue;
    color: #fff;
    padding: 8px 15px;
}

#body {
    align-content: auto;
    /* text-align: center; */
    padding-top: 109px;
    
}

form input {
    display: block;
}
