html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: arial, sans-serif;
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 12px 12px 0 12px;
    margin: 0;
    /* border: 1px solid green; */
    text-align: right;
}
nav li {
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;      
}
nav a {
    text-decoration: none;
    color: black;
    /* margin: 3px 0; */
    line-height: 28px;
}
nav a:hover:not([class= "btn"]) {
    text-decoration: underline;
}
nav .btn {
    /* border: 1px solid greenyellow; */
    color: #ffffff;
    /* background-color: blue; */
    display: block;
    font-weight: bold;
}
#button {
    background-color: #4285F4;
}
.main{
    text-align: center;
    border: 1px solid red;
    padding: 89px 0 150px 0;
    margin-bottom: 3rem;
}
.main img {
    border: 1px solid blue;
}
.main .searchbox {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
}
footer {
    position: fixed;
    bottom: 0px; 
    width: 100%;
}
footer p {
    border-top: outset;
    padding: 0 0.8rem;
    margin: 0;
    line-height: 28px;
    background-color: #F2F2F2;
    color: rgb(61, 59, 59);
}
footer .list {
    border-top: outset;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #F2F2F2;
}
.rightfooter li, .leftfooter li {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 0 0.8rem;
}
footer .list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    line-height: 28px;
}
footer a {
    text-decoration: none;
    color: rgb(61, 59, 59);
}
footer a:hover {
    text-decoration: underline;
}