html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}
section {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
.calc-buttons td {
    width: 100px;
    height: 100px;
}
tr {
    border-top: #000000;
}
td {
    color: #000000;
    background-color: #d8d9db;    
}
td:hover {
    background-color: #ebebeb ;
}
td:active {
    background-color: #bbbcbe;
}
 table .function {
    color: #ffffff;
    background-color: #df974c;
}
table .function:hover {
    background-color: #dfb07e;
}
table .function:active {
    background-color: #dd8d37;
}